### FUNCTIONS

In [1]:
def greet():
    print("Hello world")

greet()

Hello world

In [5]:
def greet(user = "Guest"):
    print(f"Hello {user}")

greet("Mashrafi")

Hello Mashrafi

In [6]:
def square_addition(a, b):
    a = a**2
    b = b**2
    print(a+b)

square_addition(10, 20)

500

In [7]:
def square_addition(a, b):
    a = a**2
    b = b**2
    print(a+b)

ans = square_addition(10, 20) + 10
print(ans)

#won't work because the function is not returning anything so it is None. None + 10 is error

500

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [14]:
def square_addition(a, b):
    a = a**2
    b = b**2
    return a + b

ans = square_addition(10, 20) + 10 #positional argument
print(ans)

510

In [15]:
def square_addition(a, b):
    print(f"{a} {b}")
    a = a**2
    b = b**2
    return a + b

ans = square_addition(b=10, a=20) + 10 #keyword argument
print(ans)

20 10
510

##### variable sized argument

In [19]:
def super_addition(*args):
    print(args)
    #args come as tuple so we can iterate
    for i in args:
        print(i)

super_addition(10, 20, 30, 40, 50)

(10, 20, 30, 40, 50)
10
20
30
40
50

In [21]:
def square_addition(*args):
    summation = 0
    for i in args:
        i = i**2
        summation += i
    return summation

ans = square_addition(10, 20, 30, 40, 50)
print(ans)

5500

In [ ]:
#keywords arguments using variable sized argument
def student(**kwargs):
    print(kwargs)

student(name="Mashrafi Bin Nur", cls = 12, roll = 5, marks = 30.5)

{'name': 'Mashrafi Bin Nur', 'cls': 12, 'roll': 5, 'marks': 30.5}

In [24]:
def student(**kwargs):
    for k, v in kwargs.items():
        print(k, v)

student(name="Mashrafi Bin Nur", cls = 12, roll = 5, marks = 30.5)

name Mashrafi Bin Nur
cls 12
roll 5
marks 30.5

### FUNCTION RETURN TYPES

In [26]:
def give_prediction():
    return 10

print(type(give_prediction()))

<class 'int'>

In [27]:
def give_prediction():
    return 10.5

print(type(give_prediction()))

<class 'float'>

In [30]:
def give_prediction():
    return "name"

print(type(give_prediction()))

<class 'str'>

In [44]:
def give_prediction():
    return {"name": "Mashrafi Bin Nur", "age": 20}

print(type(give_prediction()))

<class 'dict'>

In [32]:
def give_prediction():
    return 10, 20

print(type(give_prediction()))
print(give_prediction())

<class 'tuple'>
(10, 20)

In [39]:
def give_prediction():
    return 10, 20

print(type(give_prediction()))
print(give_prediction())

#unpacking
x, y = give_prediction()

print(x, y)

<class 'tuple'>
(10, 20)
10 20

In [40]:
def give_prediction():
    a = [10, 20, 30]
    b = [40, 50, 60]
    return a, b

print(type(give_prediction()))
print(give_prediction())

#unpacking
x, y = give_prediction()

print(x, y)

<class 'tuple'>
([10, 20, 30], [40, 50, 60])
[10, 20, 30] [40, 50, 60]

In [43]:
def give_prediction():
    a = {10, 20, 30}
    return a

print(type(give_prediction()))

x = give_prediction()

for item in x:
    print(item)

<class 'set'>
10
20
30