### LAMBDA

In [2]:
def square_addition(a, b):
    return a**2 + b**2

additional = square_addition(10, 20)
print(additional)

500

In [6]:
sq_add = lambda x,y : x**2 + y**2
print(sq_add(10, 20))

500

In [8]:
if_even = lambda x : x%2==0

print(if_even(11))

False

### MAP

In [11]:
lst = [1, 2, 3, 4, 5]

def square(x):
    return x**2

lst = list(map(square, lst))
print(lst)

[1, 4, 9, 16, 25]

In [16]:
#string

string = "Hello World, Welcome to the age of AI"

string = list(map(str.upper, string))

string1 = " ".join(string)
print(string1)

H E L L O   W O R L D ,   W E L C O M E   T O   T H E   A G E   O F   A I

In [19]:
#map using lambda
lst = [1, 2, 3, 4, 5]

lst = list(map(lambda x : x**2, lst))
print(lst)

[1, 4, 9, 16, 25]

In [23]:
#map using lambda
lst = [1, 2, 3, 4, 5]

lst = list(map(lambda x : x**2 if x%2 == 0 else x, lst))
print(lst)

[1, 4, 3, 16, 5]

### FILTER

In [24]:
#even numbers list using filter
lst = [x for x in range(100)]

lst = list(filter(lambda x : x%2==0, lst))

print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [25]:
#even numbers list using filter
lst = [x for x in range(100)]

fifty_upper = list(filter(lambda x : x > 50, lst))

print(fifty_upper)

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [28]:
#remove specific data type

data = [0, 1, '', None, 'Hello', [], [1, 2], None, True, False, None]

cleaned_data = list(filter(None, data))
print(cleaned_data)

[1, 'Hello', [1, 2], True]

In [31]:
string = "HELLO WORLD, WELCOME TO THE AGE OF AI"

vowels = list(filter(lambda x : x in "AEIOU", string))
print(vowels)

['E', 'O', 'O', 'E', 'O', 'E', 'O', 'E', 'A', 'E', 'O', 'A', 'I']

In [32]:
fruits = ['aaa', 'bb', 'cccc', 'ddddd']

more_words_than_two = list(filter(lambda x: len(x) > 2, fruits))
print(more_words_than_two)

['aaa', 'cccc', 'ddddd']

### REDUCE

In [33]:
from functools import reduce

lst = [1, 2, 3, 4, 5]

summation = reduce(lambda x,y : x+y, lst)

print(summation)

15

In [39]:
lst = [1, 2, 10, 3, 4, 5]

max_val = reduce(lambda x, y : x if x > y else y, lst)
print(max_val)

10

In [40]:
lst = ["hello", "world"]

string = reduce(lambda x, y: x + " " + y, lst)

print(string)

hello world