### TUPLES

In [1]:
mixed_tpl = (10, 10.5, "str", True)
print(mixed_tpl)

(10, 10.5, 'str', True)

In [2]:
tup = (10)
print(type(tup))

<class 'int'>

In [3]:
tup = tuple([10])
tup2 = (10, )

print(type(tup))
print(type(tup2))

<class 'tuple'>
<class 'tuple'>

In [4]:
#access
tup = (10, 20, 30, 10.5, "str")
print(tup[3])

10.5

In [5]:
tup = (10, 20, 30, 10.5, "str", True)
print(tup[0:3])

(10, 20, 30)

In [6]:
#tuple is immutable
tup = (10, 20, 30, 10.5, "str", True)

tup[1] = 100
print(tup)

TypeError: 'tuple' object does not support item assignment

### TUPLE METHODS

In [7]:
#tuple methods

tup = (10, 20, 30, 10.5, "str", True)
print(tup.count(10))
print(tup.index(30))

1
2

### SETS

In [8]:
A = {1, 2, 3}
print(type(A), A)

<class 'set'> {1, 2, 3}

In [10]:
S = {} #python will think the empty set as an dictionary

print(type(S))

#fix
S2 = set()
print(type(S2))

<class 'dict'>
<class 'set'>

In [13]:
S = {1, 2, 3, 4, 5}

if 2 in S:
    print("Present")
else:
    print("Not Present")


if 6 in S:
    print("Present")
else:
    print("Not Present")

Present
Not Present

In [14]:
#iterable
S = {1, 2, 3, 4, 5}

for element in S:
    print(element)

1
2
3
4
5

In [17]:
s = {1, 2, 3, 4, 5}

s.add(10)
s.add(20)
print(s)

s.pop()
print(s)

s.remove(3)
print(s)

{1, 2, 3, 4, 5, 20, 10}
{2, 3, 4, 5, 20, 10}
{2, 4, 5, 20, 10}

### SET MATHEMATICAL METHODS

In [18]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b))
print(a.intersection(b))

{1, 2, 3, 4}
{2, 3}

In [22]:
#disjoint set
a = {1, 2, 3}
b = {4, 5, 6}

print(a.isdisjoint(b)) #no connected points

True

In [23]:
#subset
a = {1, 2, 3}
b = {1, 2, 3, 4, 5}

print(a.issubset(b)) # 1, 2, 3 present in a also as well as b

True

### DICTIONARY

In [24]:
dic = {}
print(type(dic))

<class 'dict'>

In [25]:
dic = {"name": "Mashrafi Bin Nur", "age": 23, "address": "Dhaka", "numbers": [10, 20, 30, 40]}
print(dic)

{'name': 'Mashrafi Bin Nur', 'age': 23, 'address': 'Dhaka', 'numbers': [10, 20, 30, 40]}

In [28]:
#access

dic = {"name": "Mashrafi Bin Nur", "age": 23, "address": "Dhaka", "numbers": [10, 20, 30, 40]}

print(dic["name"])
print(dic.get("name"))

Mashrafi Bin Nur
Mashrafi Bin Nur

In [29]:
dic = {"name": "Mashrafi Bin Nur", "age": 23, "address": "Dhaka", "numbers": [10, 20, 30, 40]}
dic["name"] = "Phitron AI ML"
print(dic)

{'name': 'Phitron AI ML', 'age': 23, 'address': 'Dhaka', 'numbers': [10, 20, 30, 40]}

In [31]:
dic = {"name": "Mashrafi Bin Nur", "age": 23, "address": "Dhaka", "numbers": [10, 20, 30, 40], "age": 30}
#if there are duplicate keys, it will get the last duplicate key value
print(dic)

{'name': 'Mashrafi Bin Nur', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30, 40]}

### DICTIONARY METHODS

In [35]:
dic = {"name": "Mashrafi Bin Nur", "age": 23, "address": "Dhaka", "numbers": [10, 20, 30, 40], "age": 30}

print(dic.get("math_marks"))
print(dic.get("math_marks", 0))
print(dic)

None
0
{'name': 'Mashrafi Bin Nur', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30, 40]}

In [37]:
# add value in dictionary
dic = {"name": "Mashrafi Bin Nur", "age": 23, "address": "Dhaka", "numbers": [10, 20, 30, 40], "age": 30}

dic["math_marks"] = 80
print(dic)

{'name': 'Mashrafi Bin Nur', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30, 40], 'math_marks': 80}

In [40]:
# add using update method

dic = {"name": "Mashrafi Bin Nur", "age": 23, "address": "Dhaka", "numbers": [10, 20, 30, 40], "age": 30}

dic.update({"english_marks": 55})
print(dic)

{'name': 'Mashrafi Bin Nur', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30, 40], 'english_marks': 55}

In [41]:
# deletion
dic = {"name": "Mashrafi Bin Nur", "age": 23, "address": "Dhaka", "numbers": [10, 20, 30, 40], "age": 30}

del dic["name"]

print(dic)

{'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30, 40]}

In [43]:
#copy
dic2 = dic.copy()
print(dic2)

{'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30, 40]}

In [45]:
#testing
dic_3 = {[10, 20] : "a"}

TypeError: unhashable type: 'list'

In [46]:
dic_3 = {(10, 20) : "a"}
print(dic_3)

{(10, 20): 'a'}

In [47]:
dic_3 = {"key" : [10, 20, 30]}
print(dic_3)

{'key': [10, 20, 30]}

In [48]:
dic = {"name": "Mashrafi Bin Nur", "age": 23, "address": "Dhaka", "numbers": [10, 20, 30, 40], "age": 30}

keys = dic.keys()
values = dic.values()
items = dic.items()

print(keys)
print(values)
print(items)

dict_keys(['name', 'age', 'address', 'numbers'])
dict_values(['Mashrafi Bin Nur', 30, 'Dhaka', [10, 20, 30, 40]])
dict_items([('name', 'Mashrafi Bin Nur'), ('age', 30), ('address', 'Dhaka'), ('numbers', [10, 20, 30, 40])])

In [49]:
dic = {"name": "Mashrafi Bin Nur", "age": 23, "address": "Dhaka", "numbers": [10, 20, 30, 40], "age": 30}

for key, value in dic.items():
    print(key, value)

name Mashrafi Bin Nur
age 30
address Dhaka
numbers [10, 20, 30, 40]

### DICTIONARY COMPREHENSION

In [1]:
squares = {x: x**2 for x in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [2]:
Co_ordinates = [(10, 10.5), (20.5, 192), (101, 102)]
Locations = ["dhaka", "chattogram", "sylhet"]

exact_location = {co_or : loc for co_or, loc in zip(Co_ordinates, Locations)}

print(exact_location)

{(10, 10.5): 'dhaka', (20.5, 192): 'chattogram', (101, 102): 'sylhet'}