## Problem 1: Common Friends (Set Operations)
### Problem:
 ###### Given two sets of friends from two people, find the mutual friends, unique friends of each, and the total number of unique friends.
##### Example Input:
###### a_friends = {"Rahim", "Karim", "Sakib", "Jamal"}
###### b_friends = {"Sakib", "Jamal", "Rafiq", "Nadim"}

##### Expected Output:
###### Mutual friends: {'Sakib', 'Jamal'}
###### Unique to A: {'Rahim', 'Karim'}
###### Unique to B: {'Rafiq', 'Nadim'}
###### Total unique friends: 6

In [35]:
# Rahim Karim Sakib Jamal
# Sakib Jamal Rafiq Nadim

inp = input()
inp_split = inp.split()

inp2 = input()
inp2_split = inp2.split()

a_friends = set(inp_split)
b_friends = set(inp2_split)

mutual = a_friends.intersection(b_friends)
print("Mutual Friends", mutual)


unique_a = a_friends - b_friends
print("Unique to A:",unique_a)

unique_b = b_friends - a_friends
print("Unique to B:",unique_b)

all_friends = a_friends.union(b_friends)
print("Total Unique Friends", len(all_friends))

Mutual Friends {'Sakib', 'Jamal'}
Unique to A: {'Karim', 'Rahim'}
Unique to B: {'Nadim', 'Rafiq'}
Total Unique Friends 6

### Problem 2: Sort Students by Marks (Tuple + Dictionary)
#### Problem:
 ###### You are given a list of tuples — each containing a student’s name and mark.
 ###### Sort them in descending order of marks and print the top 3 scorers.
#### Example Input:
###### students = [("Rafi", 89), ("Sumi", 95), ("Hasan", 90), ("Nila", 75), ("Anik", 98)]

#### Expected Output:
###### Top 3 students:
###### Anik - 98
###### Sumi - 95
###### Hasan - 90

In [44]:
'''
    5
    Rafi 89
    Sumi 95
    Hasan 90
    Nila 75
    Anik 98
'''

t = int(input())

students = []
students_dict = {}
for i in range(t):
    name = input("Enter name: ")
    marks = int(input("Enter marks: "))
    students.append((name, marks))

    students_dict[name] = marks

print(students)

highest_three_students = {}

ValueError: invalid literal for int() with base 10: ''

## Problem 3: Word Length Filter (Lambda + Filter)
#### Problem:
 ###### Given a list of words, use filter() and lambda to return only words whose length is greater than 4.
 ###### Example Input:
 ###### words = ["sun", "planet", "moon", "star", "universe"]

##### Expected Output:
###### ['planet', 'universe']

In [46]:
words = ["sun", "planet", "moon", "star", "universe"]

filtered_words = filter(lambda x : len(x) > 4 ,words)
print(list(filtered_words))

['planet', 'universe']

### Problem 4: Square of Even Numbers (Map + Filter + Lambda)
#### Problem:
 ###### Write a one-line Python expression using map(), filter(), and lambda that takes a list of integers and returns the squares of even numbers only.
##### Example Input:
###### nums = [1, 2, 3, 4, 5, 6]

##### Expected Output:
###### [4, 16, 36]

In [ ]:
nums = [1, 2, 3, 4, 5, 6]

square_of_even_numbers = filter(lambda y : map(lambda y : y**2, nums) if y%2==0 else 0, nums)
print(list(square_of_even_numbers))

SyntaxError: invalid syntax (556757702.py, line 3)

In [71]:
with open("data.txt", "w+") as file:
    file.write("Learning python is fun")

    file.seek(0)
    
    print(file.read())

Learning python is fun